<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a th:href="${url}" class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:href="${url}" class="nav-link" aria-current="page">Upload</a>
                <a th:href="${url + 'files'}" class="nav-link active">Files</a>
            </div>
        </div>
    </div>
</nav>
<div class="container" style="width:500px;">

    <h1></h1>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Filename</th>
            <th scope="col">Description</th>
            <th scope="col">Fish</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file: ${files}">
            <th scope="row" th:text="${file.getId()}">1</th>
            <td th:text="${file.getFilename()}">Mark</td>
            <td th:text="${file.getDescription()}">Otto</td>
            <td th:text="${file.getFishId()}">@mdo</td>
            <td><a th:href="${apiUrl + 'api/files/' + file.getId()}" type="button" class="btn btn-secondary btn-sm">Download</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>