<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a th:href="${url}" class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:href="${url}" class="nav-link active" aria-current="page">Upload</a>
                <a th:href="${url + 'files'}" class="nav-link">Files</a>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="width:500px;">

    <h1 th:text="${sth}"></h1>

    <form th:action="${apiUrl + 'api/files/'}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="filenameInput" class="form-label">Filename</label>
            <input type="text" class="form-control" id="filenameInput" placeholder="file.jpg">
        </div>
        <div class="mb-3">
            <label for="descInput" class="form-label">File description</label>
            <textarea class="form-control" id="descInput" rows="3" name="desc"></textarea>
        </div>
        <label for="fishIdInput" class="form-label">Fish id</label>
        <input class="form-control" list="datalistOptions" id="fishIdInput" placeholder="id" name="fish">
        <datalist id="datalistOptions">
<!--            TODO-->
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
        </datalist>
        <div class="mb-3">
            <label for="fileInput" class="form-label">File</label>
            <input class="form-control" type="file" id="fileInput" name="file">
        </div>
        <input type="submit" value="Upload" name="submit" class="btn btn-primary mb-3">
    </form>


</div>
</body>
</html>